-
  let productsList = [
    {
      title: 'Стенд развал-схождения c QuickGrip адаптерами',
      text: 'Стенд оснащен новейшей технологией быстрого захвата за шину!',
      img: 'check',
      category: 'Хиты продаж',
      label: 'Хит продаж',
      labelColor: 'red',
      code: 'PA210/22N-222MLAS',
      price: 'от 1 000 000 руб.',
      list: [
        'Кабинет мобильный экономичный',
        'Монитор LCD 22" с креплением',
        'Принтер цветной',
        'Мульти-D, 2 камеры',
        'Адаптеры QuickGrip колесные',
        'Круги поворотные',
      ]
    },
    {
      title: 'Компьютерный стенд развал-схождения',
      text: 'Датчики Hawkeye Elite и мобильный кабинет с персональным компьютером',
      img: '',
      category: 'Хиты продаж',
      label: 'Хит продаж',
      labelColor: 'red',
      code: 'WA310/22NE-421FC3S',
      price: 'от 1 500 000 руб.',
      list: [
        'Кабинет мобильный экономичный',
        'Монитор LCD 21.5" с креплением',
        'Принтер цветной',
        'Мульти-D, 4 камеры',
        'Адаптеры быстрого зажима',
        'Круги поворотные',
      ]
    },
    {
      title: 'Грузовой стенд развал-схождения',
      text: 'Компенсация биений прокатыванием с непрерывной коррекцией по углу поворота колеса ProComp®',
      img: '',
      category: 'Хиты продаж',
      label: 'Хит продаж',
      labelColor: 'red',
      code: 'WA310/22LT-740T',
      price: 'от 1 450 000 руб.',
      list: [
        'Кабинет мобильный экономичный',
        'Монитор LCD 20" с креплением',
        'Принтер цветной',
        '4 оптических датчика с 6 CCD сенсорами схождения и 8 сенсорами развала/продольного наклона',
        'Адаптеры колесные 15”-28',
      ]
    },
    {
      title: 'Hunter Quick Check Drive',
      text: 'Полностью бесконтактный стенд. Проверка занимает 3–5 секунд (передней и задних осей)',
      img: '',
      category: 'Бесконтактные стенды',
      label: 'Новинка',
      labelColor: 'red',
      code: 'QCD92',
      price: 'от 4 000 000 руб.',
      list: [
         'Измерение осуществляется с момощью 8-ми камер и 32 лазерных датчиков',
         'Высочайшая точность измерений',
         'Идентификация автомобиля по гос-номеру (камеры высокого разрешения в комплекте)',
         'Выгрузка результатов в облако HunterNET',
         'Возможность подключения монитора результатов в клиентской зоне (FlightBoard)',
      ]
    },
    {
      title: 'Стенд на основе HawkEye Elite',
      text: 'Компьютерный стенд регулировки углов установки колес на основе 3D измерительной системы HawkEye Elite',
      img: '',
      category: '3D Стенды',
      label: 'WA',
      labelColor: 'blue',
      code: 'WA310/22NE-421WM3S',
      price: 'от 1 450 000 руб.',
      list: [
        'Кабинет мобильный экономичный',
        'Монитор LCD 21,5" с креплением',
        'Принтер цветной',
        'Мульти-D, 4 камеры',
        'Адаптеры быстрого зажима',
        'Круги поворотные',
      ]
    },
    {
      title: 'Стенд развал-схождения c QuickGrip адаптерами',
      text: 'Стенд оснащен новейшей технологией быстрого захвата за шину!',
      img: '',
      category: '3D Стенды',
      label: 'PA',
      labelColor: 'blue',
      code: 'PA210/22N-222MLAS',
      price: 'от 1 000 000 руб.',
      list: [
         'Кабинет мобильный экономичный',
         'Монитор LCD 22" с креплением',
         'Принтер цветной',
         'Мульти-D, 2 камеры',
         'Адаптеры QuickGrip колесные',
         'Круги поворотные',
      ]
    },
    {
      title: 'Стенд на основе HawkEye Elite',
      text: 'Компьютерный стенд регулировки углов установки колес на основе 3D измерительной системы HawkEye Elite',
      img: '',
      category: '3D Стенды',
      label: 'WA',
      labelColor: 'blue',
      code: 'WA310/22NE-421FC3S',
      price: 'от 1 500 000 руб.',
      list: [
        'Кабинет мобильный экономичный',
        'Монитор LCD 21.5" с креплением',
        'Принтер цветной',
        'Мульти-D, 4 камеры',
        'Адаптеры быстрого зажима',
        'Круги поворотные',
      ]
    },
    {
      title: 'Стенд на основе HawkEye Elite',
      text: 'Компьютерный стенд регулировки углов установки колес на основе 3D измерительной системы HawkEye Elite',
      img: '',
      category: '3D Стенды',
      label: 'WA',
      labelColor: 'blue',
      code: 'WA310/22NE-421ML3S',
      price: 'от 1 500 000 руб.',
      list: [
         'Кабинет мобильный экономичный',
         'Монитор LCD 21.5" с креплением',
         'Принтер цветной',
         'Мульти-D, 4 камеры',
         'Адаптеры быстрого зажима',
         'Круги поворотные',
      ]
    },
    {
      title: 'Стенд развал-схождения c QuickGrip адаптерами',
      text: 'Компьютерный стенд регулировки углов установки колес на основе 3D измерительной системы HawkEye Elite',
      img: '',
      category: '3D Стенды',
      label: 'WA',
      labelColor: 'blue',
      code: 'WA310/20LE-221LZ1',
      price: 'от 1 150 000 руб.',
      list: [
         'Кабинет мобильный экономичный',
         'Монитор LCD 21.5" с креплением',
         'Принтер цветной',
         'Мульти-D, 2 камеры',
         'Адаптеры колесные 10-24,5"',
          'Круги поворотные'
      ]
    },
    {
      title: 'Инфракрасный стенд развал-схождения',
      text: '4 Оптических датчика с 4 CCD сенсорами схождения и 4 сенсорами развала/продольного наклона.',
      img: '',
      category: 'Инфракрасные стенды',
      label: 'WA',
      labelColor: 'blue',
      code: 'WA310/20LE-504',
      price: 'от 887 000 руб. руб.',
      list: [
        'Датчики DSP504',
        'Кабинет WA310E',
        'Монитор LCD 20”',
        'Принтер',
        'Компьютер с ПО WinAlign Elite'
      ]
    },
    {
      title: 'Инфракрасный стенд развал-схождения',
      text: '3-х точечная компенсация биений подъемом с непрерывной коррекцией по углу поворота колеса ProComp®',
      img: '',
      category: 'Инфракрасные стенды',
      label: 'PA',
      labelColor: 'blue',
      code: 'PA100/17N-504',
      price: 'от 500 000 руб.',
      list: [
         'Консоль ProAlign без кабинета',
         'Монитор LCD 21.5"',
         '4 оптических датчика с 4 CCD сенсорами схождения и 4 сенсорами развала/продольного наклона',
         'Адаптеры колесные 10"-24,5"',
         'Круги поворотные',
      ]
    },
    {
      title: 'Грузовой стенд развал-схождения',
      text: 'Сход-развал на все оси тягача, автобуса, прицепа или полуприцепа',
      img: '',
      category: 'Грузовые стенды',
      code: 'PT210/22LT-740T',
      price: 'от 1 250 000 руб.',
      list: [
         'Консоль ProAlign с кабинетом мобильным экономичным',
         'Монитор LCD 21.5"',
         'Принтер цветной',
         '4 оптических датчика с 6 CCD сенсорами схождения и 8 сенсорами развала/продольного наклона',
         'Адаптеры колесные 15”-28”',
      ]
    },
    {
      title: 'Грузовой стенд развал-схождения',
      text: 'Сход-развал на все оси тягача, автобуса, прицепа или полуприцепа',
      img: '',
      category: 'Грузовые стенды',
      code: 'WA310/22LT-740T',
      price: 'от 1 400 000 руб.',
      list: [
         'Кабинет мобильный экономичный',
         'Монитор LCD 20" с креплением',
         'Принтер цветной',
         '4 оптических датчика с 6 CCD сенсорами схождения и 8 сенсорами развала/продольного наклона',
         'Адаптеры колесные 15”-28”',
      ]
    },
    {
      title: 'Грузовой стенд развал-схождения',
      text: 'Сход-развал на все оси тягача, автобуса, прицепа или полуприцепа',
      img: '',
      category: 'Грузовые стенды',
      code: 'PA100/17N-504',
      price: 'от 500 000 руб.',
      list: [
         'Сход-развал на четыре колеса',
         'Для обработки сигналов и расчета УУК используются DSP процессоры',
         '3-х точечная компенсация биений подъемом с непрерывной коррекцией по углу поворота колеса ProComp',
         'Прочная конструкция',
         'Возможность измерения обратного схождения при повороте колес на 20°',
      ]
    },
    {
      title: 'Дилерский стенд развал-схождения',
      text: 'Дилерский стенд-развал схождения для СТО Mercedez-Benz',
      img: '',
      category: 'Для дилерских СТО',
      label: 'Mercedes-Benz',
      labelColor: 'blue',
      code: 'WA560VM/22LE-421FC5M',
      price: 'от 1 695 000 руб.',
      list: [
        'Спецсерия OME',
        '3D Стенд',
        'Датчики Hawkeye HS421FС5MBE',
        'Кабинет WA560VMBE',
        'Монитор LCD 21.5”',
        'Принтер',
        'Компьютер с ПО WinAlign Mercedez-Benz'
      ]
    },
    {
      title: 'Дилерский стенд развал-схождения',
      text: '4 камеры, стандартное напольное исполнение, мишени высокого разрешения',
      img: '',
      category: 'Для дилерских СТО',
      label: 'VAG',
      labelColor: 'blue',
      code: 'WA510V/22LE-421FC9V',
      price: 'от 1 800 000 руб.',
      list: [
         'Монитор LCD 21.5" с креплением',
         'Принтер цветной',
         'Мульти-D, 4 камеры',
         'Стандартное напольное исполнение',
         '2 широкоугольные трехмерные (WATD) + 2 трехмерные (TD) мишени',
         'Круги поворотные механические',
      ]
    },
    {
      title: 'Станок для легковых автомобилей',
      text: 'Шиномонтажный автоматический станок Hunter серии TCX',
      img: '',
      category: 'Шиномонтажное оборудование',
      code: 'TCX57-2-1-U',
      price: 'от 770 000 руб.',
      list: [
      ]
    },
    {
      title: 'Станок для легковых автомобилей',
      text: 'Шиномонтажный полуавтоматический станок Hunter серии TCX',
      img: '',
      category: 'Шиномонтажное оборудование',
      code: 'TCX70-21U',
      price: 'от 1 030 000 руб.',
      list: [
         'Электрический двигатель',
         'Регулируемый по высоте универсальный центральный зажим',
         'Роликовое отжимное устройство в стандартной комплектации',
      ]
    },
    {
      title: 'Станок для грузовых автомобилей',
      text: 'Универсальный шиномонтажный стенд, предназначенный для работы с дорожными грузовыми шинами',
      img: '',
      category: 'Шиномонтажное оборудование',
      code: 'TCX635-4-3-5',
      price: 'от 990 000 руб.',
      list: [
      ]
    },
    {
      title: 'Станок для грузовых автомобилей',
      text: 'Универсальный шиномонтажный стенд, предназначенный для работы с дорожными грузовыми шинами',
      img: '',
      category: 'Шиномонтажное оборудование',
      code: 'TCX645HD-435E',
      price: 'от 1 300 000 руб.',
      list: [
         'Двухскоростное вращение зажима по ходу и против хода часовой стрелки',
         'Рабочий диапазон зажима от 35 до 116 см',
         'Мобильный блок управления на постаменте',
         'Шпиндель грузоподъемностью 1600 кг поднимает колесо в нужное положени',
         'Вальный насос работает только когда установка находится в действии',
      ]
    },
    {
      title: 'Балансировочный станок c монитором и гайкой',
      text: 'Автоматический ввод диаметра, дистанции и ширины диска. SmartWeight®.',
      img: '',
      category: 'Балансировочные станки',
      code: 'SWP70E',
      price: 'от 480 000 руб.',
      list: [
         'Автоматический ввод диаметра, дистанции и ширины диска',
         'Встроенный лазерный указатель положения груза',
         'Резьбовой вал',
         'Быстросъемная стальная гайка',
      ]
    },
    {
      title: 'Cтенд виброконтроля Hunter ELITE',
      text: 'Измерение бокового увода. Сенсорный монитор. Автоматическое определение параметров диска с помощью лазера',
      img: '',
      category: 'Стенды виброконтроля',
      code: 'RFE00E',
      price: 'от 1 480 000 руб.',
      list: [
         'Измерение бокового увода',
          'Сенсорный LCD 22" монитор',
          'Автоматическое определение параметров диска с помощью лазера',
          'Встроенный лазерный указатель',
          'Автоматический подъема кожуха'
      ]
    },
    {
      title: 'Ножничный подъемник ',
      text: 'Грузоподъемность 4536 кг, заглубленное исполнение, станция накачки колес Inflation Station™',
      img: '',
      category: 'Подъемники',
      code: 'RX45KFIS-435E',
      price: 'от 2 700 000 руб.',
      list: [
         'Компьютеризированная консоль управления',
         '16-позиционная система стопоров',
          'заглубленное исполнение',
          'станция накачки колес Inflation Station',
          'пневмолиния с комплектом подключения траверс в комплекте'
      ]

    },

  ]



.products(id="products")
  .wrapper
    h2.title.section-title Основные продукты компании
    .inner
      ul.list
        li.item.item-red(data-modal="confirm" data-title="Скачать методическое пособие" data-action="Скачать" data-redirect="https://disk.yandex.ru/i/uqUWMmG6LNOxOg" data-bg="assets/img/6products/bg.jpg")
          h3.red-title Разобраться в стендах легко
        each product, i in productsList
          li.item
            p.category !{product.category}
            h3.item-title(class=product.labelColor || false  data-label=product.label || false) !{product.title} !{' '}
            p.code !{product.code}

            .img(
              data-modal="product"
              data-title=product.title
              data-text=product.text
              data-img=`assets/img/6products/big/${i + 1}.jpg`
              data-price=product.price
              data-list=product.list.join('@')

            )
              +picture({
                 classList: 'images',
                 src: `assets/img/6products/${i + 1}.jpg`,

              })
            p.text !{product.text}
            button.btn(data-modal="confirm" data-title="Узнать цену" data-action="Узнать" data-product=product.title) Узнать цену
    .all
      p.plus + Показать все продукты в категории







